################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/eFolder.Todo/v14
/packages
/Todo.Backup/bin/Release
/Todo.Backup/obj/Release
/Todo.Console/bin/Release
/Todo.Console/obj/Release
/Todo.WebAPI/bin/Release
/Todo.WebAPI/obj/Release
/Todo.WebAPI.Test/obj/Release
